#home{
  .sideNav{
    z-index: 2;
    position: fixed;
    top: 1em;
    left: 2em;
    right: 2em;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    filter: hue-rotate(315deg);
    opacity: 0.9;
    box-shadow: 8px 8px 6px -6px black;
    .sideNavHeader{
      display: inline-block;
      border-right-width: 0.25em;
      border-right-style: solid;
      border-right-color: currentColor;
      svg {
        fill: currentColor;
        width: 5em;
        display: inline-block;
        vertical-align: middle;
      }
      span{
        margin-left: 0.25em;
        display: inline-block;
        font-size: 2em;
        font-weight: bold;
        vertical-align: middle;
        margin-right: 0.5em;
        cursor: pointer;
      }
    }
    .sideNavMenu{
      position: relative;
      left: 1em;
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-start;
      align-content: center;
      .sideNavItem{
        margin-left: 0.5em;
        flex-grow: 2;
        flex-basis: auto;
        svg{
          fill: currentColor;
          opacity: 0.7;
          width: 2.5em;
          vertical-align: middle;
        }
        svg:hover{
          opacity: 1;
          width: 3em;
          transition: width 0.25s ease-in,opacity 0.5s ease-in;
          cursor: grab;
        }
        svg:hover + .sideNavItemText{
          display: inline-block;
          transition: visibility 1s ease-in;
          vertical-align: middle;
        }
        .sideNavItemText{
          margin-left: 0.25em;
          display: inline-block;
          vertical-align: middle;
          display: none;
          font-size: 1.5em;
        }
      }
    }
  }
  .pageHeader{
    position: fixed;
    top: 7em;
    align-content: center;
    text-align: center;
    background-color: inherit;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    .pageHeaderText{
      color: black;

      text-underline: black;
      font-size: 5em;
    }
  }
  #content{
    height: 65vh;
    position: fixed;
    top: 13.5em;
    overflow-y: auto;
    right: 10vw;
    left: 10vw;
  }
}