body {
    .background {
        height: 100%;
        width: 100%;
        position: absolute;
        background-image: url(/images/people.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.2;
        z-index: -1;
    }
    #root   {
        background-color: transparent;
    }
}