.loginCard{
  raised: true;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
  .loginLogoHeader{
    border-bottom: 0.1em solid white;
    vertical-align: middle;

    .loginLogoText{
      font-size: 2em;
      font-weight: bold;
      vertical-align: bottom;
    }

    .loginLogo{
      font-size:4em;
      font-style: normal;
      vertical-align: bottom;
    }
  }
  #authForm {
    .loginForm {
      .formLabel {
        font-size: 2em;
        text-underline-style: single;
      }
      .postSignupLogin{
        font-weight: bold;
        max-height: 0px;
        font-size: larger;
      }
      .authErrorHidden{
        color: red;
        font-weight: bold;
        max-height: 0px;
        overflow: hidden;
        font-size: larger;
      }
      .authErrorVisible{
        color: red;
        font-weight: bold;
        max-height: 100px;
        transition: max-height 2s ease-in;
      }
      .signupInvalidHidden{
        color: red;
        font-weight: bold;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 1s ease-out;
      }
      .signupInvalidVisible{
        color: red;
        font-weight: bold;
        max-height: 100px;
        transition: max-height 1s ease-in;
      }

      .submitButton {
        margin-top: 0.3em;
        font-size: 0.75em;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}
