@font-face {
  font-family: 'Do Hyeon',sans-serif;
  src: url('fonts/DoHyeon-Regular.ttf') format('ttf');
}

body {
  #root {
    alignment: center;
    align-items: center;
    align-content: center;
    font-family: 'Do Hyeon';
    color: white;
  }
}